.top{
    z-index: 100;
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.gojo{
    object-fit: cover;
}
.topleft , .topright{
    display: flex;
    align-items: center;
    flex:3;
}
.topleft>div{
    padding: 0px 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.topleft>div>*{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.topright>div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topright>div>*{
    margin: 20px;
    cursor: pointer;
}
.topcenter{
    flex: 6;
}

.topcenter ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topright ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.topright ul li{
    margin-left: 20px;
}
.topcenter ul li{
    cursor: pointer;
}

.imgcontainer{
    cursor: pointer;
    width: 40px;
    height: 40px;
    
}
.imgcontainer>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
